<div class="bs-docs-header docheader" id="content">
      <div class="container">
      <div class="row-fluid">

      <div class="col-md-2">
      	<img src="/assets/index/allsoft-designers-and-developers.jpg" /> 
      </div>

      <div>
        <h1>AllSoft Designers and Developers</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus ultrices fringilla. Sed volutpat, risus vitae tempor feugiat, urna leo placerat sem.</p>
      </div>
      </div>
      </div>
    </div>
